body {
  background-color: #e5e5e5;
}
.promo {
  background-color: black;
  color: white;
  padding: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 30px;
  letter-spacing: 1px;
}
.asistencia {
  color: white;
  padding: 0 20px;
}
.contacto {
  color: white;
  padding: 0 20px;
}
.acerca {
  color: white;
  padding: 0 20px;
}
.telefono {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}
.envio {
  display: inline-block;
  margin-right: 250px;
  margin-left: 20px;
}
.icon-box {
  margin-left: 15px;
}
.entrar {
  color: black;
  text-decoration: none;
  padding: 0px;
}
.entrar:hover {
  color: #d3d3d3;
}
.fav {
  color: black;
  padding: 0px;
}

.search-container {
  display: flex;
  align-items: center;
}
.search-input {
  border: #e5e5e5 solid 1px;
  border-radius: 30px 0 0 30px;
  width: 350px;
  height: 50px;
  padding-left: 10px;
  background-color: #e5e5e5;
}
.search-button {
  background-color: rgb(143, 60, 251);
  color: white;
  border: none;
  border-radius: 0 30px 30px 0;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin-right: 250px;
}
.search-button i {
  margin-left: 20px;
  margin-right: 20px;
}
.search-button:hover {
  background-color: black;
}
.menu {
  padding: 10px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
}
.menu a {
  text-decoration: none;
  padding: 0 26px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu a:hover {
  color: rgb(143, 60, 251);
}
.custom-button {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  padding: 0 26px;
}

.custom-button:hover {
  color: rgb(143, 60, 251);
}
.listmenu {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.listmenu:hover {
  color: rgb(143, 60, 251);
  cursor: pointer;
}


@media (max-width: 767px) {
  .custom-button {
    padding: 0 10px;
    font-size: 14px;
  }

  .listmenu {
    font-size: 14px;
  }

  .carrusel {
    margin-bottom: 10px;
  }

  .carrusel span {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* hasta aqui el toolbar y el menu*/

.carrusel {
  margin-bottom: 20px;
}
.carrusel span {
  background-color: crimson;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 260px;
  left: 15%;
  transform: translateX(-50%);
}
.carrusel h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 280px;
  left: 26%;
  transform: translateX(-50%);
  font-size: 60px;
}
.carrusel p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 550px;
  left: 19%;
  transform: translateX(-50%);
  font-size: 25px;
}
.carrusel button {
  background-color: rgb(143, 60, 251);
  color: white;
  border-radius: 35px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 600px;
  left: 19%;
  transform: translateX(-50%);
  font-size: 20px;
}
.carrusel button:hover {
  background-color: black;
}
/* aqui termina el carrusel*/
.imagered,
.imagevioleta {
  display: inline-block;
  text-align: center;
  justify-content: center;
}
.audifono {
  width: 530px;
  margin: 30px;
  height: 600px;
  margin-top: 50px;
  position: relative;
}
.telefonorojo {
  height: 600px;
  margin: 30px;
  width: 530px;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 35px;
  position: relative;
}
.imagered span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 850px;
  left: 22%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}
.imagered h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 900px;
  left: 20%;
  transform: translateX(-50%);
  font-size: 50px;
  color: white;
}
.imagered p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 1050px;
  left: 25%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}
.imagered button {
  background-color: white;
  color: black;
  border-radius: 35px;
  padding: 8px;
  padding-left: 45px;
  padding-right: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 1100px;
  left: 23%;
  transform: translateX(-50%);
  font-size: 20px;
}
.imagered button:hover {
  background-color: crimson;
  border: solid white 1px;
}
.imagevioleta span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 850px;
  left: 70%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}
.imagevioleta h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 900px;
  left: 73%;
  transform: translateX(-50%);
  font-size: 50px;
  color: white;
}
.imagevioleta p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 1130px;
  left: 74%;
  transform: translateX(-50%);
  font-size: 20px;
  color: white;
}
.imagevioleta button {
  background-color: white;
  color: black;
  border-radius: 35px;
  padding: 8px;
  padding-left: 45px;
  padding-right: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 1180px;
  left: 74%;
  transform: translateX(-50%);
  font-size: 20px;
}
.imagevioleta button:hover {
  background-color: rgb(143, 60, 251);
  border: white solid 1px;
}
.promocion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  background-color: white;
  margin: 35px;
}
.promocion-item {
  display: flex;
  align-items: center;
}
.promocion-item p {
  margin-left: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
/* hasta aqui es la promocion*/
.masvendido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin: 35px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}


.v-cards{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 20px;
}
.masvendido h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 40px;
}
.item1card {
  margin: 15px; 
}
.masvendido button{
  background-color: rgb(143, 60, 251);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  width: 300px;
  margin: 30px;
}
.masvendido button:hover{
  background-color: black;
}

.item1card p{
  padding: 10px;
  font-size: 20px;
  color: rgb(143, 60, 251);
}
.item1card img{
  transition: transform 0.3s ease; 
}
.item1card img:hover{
  transform: scale(1.1); 
}
/* hasta aqui los mas vendidos*/

.comprarCategoria{
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 20px; 
  background-color: white; 
  margin: 35px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.comprarCategoria h3{
  text-align: center; 
  font-size: 30px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  font-weight: bold; 
  padding: 40px;
}
.comprarCategoria img{
  border: solid #d3d3d3 2px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: inline;
  margin: 20px;
}
.comprarCategoria img:hover{
  transform: scale(1.1); 
}
.images{
  display: flex;
  justify-content: center; 
  gap: 20px;
  padding: 20px;
  margin: 20px;
}
.comprarCategoria a{
  text-decoration: none;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.categoria-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoria-item img {
  margin-bottom: 10px; 
}
/* hasta aqui las categorias*/

.mejorprecio{
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 20px; 
  background-color: white; 
  margin: 35px; 
  align-items: center;
  height: 600px;
}
.mejorprecio img{
  height: 100%;
  margin-left: 0;
  align-self: flex-start;
  width: 50%;
  margin: 20px;
}
.circulorojo{
  background-color: crimson;
  padding: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50%; 
  width: 150px; 
  height: 150px; 
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -280px;
  margin-top: -180px;
  font-size: 25px;
  transform: rotate(15deg);
}
.text h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}
.text span{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  font-weight: bold;
}
.text p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text{
  margin-left: 20px;
  flex: 1;
  text-align: center;
}
.mejorprecio button {
  background-color: rgb(143, 60, 251);
  color: white;
  border-radius: 35px;
  padding: 8px;
  padding-left: 45px;
  padding-right: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-top: 500px;
}
.mejorprecio button:hover {
  background-color: white;
  color: black;
}
/* hasta aqui el mejor precio*/

.oferta{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: white;
  margin: 35px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.oferta h3{
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 40px;
}

.item1card span{
  padding: 15px;
  font-size: 20px;
  color: rgb(143, 60, 251);
  text-decoration: line-through;
}
.oferta button{
  background-color: rgb(143, 60, 251);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  width: 300px;
  margin: 30px;
}
.oferta button:hover{
  background-color: black;
}
/* hasta aqui las ofertas*/

.especialdia{
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 20px; 
  background-color: white; 
  margin: 35px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.especialdia img{
  height: 100%;
  margin-right: 0;
  align-self: flex-end;
  width: 50%;
  margin: 20px;
}
.texto h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}
.texto span{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: rgb(143, 60, 251);
}
.texto p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}
.texto{
  margin-left: -450px;
  flex: 1;
  text-align: left;
  margin-top: -400px;
}
.dto{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 80px;
  font-weight: bold;
  display: inline;
}
.especial{
  background-color: crimson;
  color: white;
  margin-top: -500px;
  margin-left: -400px;
  margin-right: 400px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
}
.especialdia button{
  background-color: rgb(143, 60, 251);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  width: 300px;
  margin: 30px;
}
.especialdia button:hover{
  background-color: black;
}
/* hasta aqui el especial del dia*/

.marcas{
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 20px; 
  background-color: white; 
  margin: 35px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.marcas h3{
  text-align: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 40px;
}
.marcas table{
  color: #a3a3a3;
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-collapse: collapse;
  width: 100%;
}
.marcas th, .marcas td{
  border: #e3e3e3 solid 1px;
  padding: 50px;
}
/* hasta aqui las marcas*/
